@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

:root {
    --primary-color: rgb(23, 59, 2);
    --primary-color-darker: rgb(194, 179, 20);
}

* {
    box-sizing: border-box;
    outline: 0;
}

h1 {
    text-align: center;
    color:rgb(194, 179, 20);
    font-weight: 600;
    font-size: 2.5rem;
}

body {
    margin: 0.35rem;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 8rem;
}

.principal {
    max-width: 40rem;
    margin: 4.75rem auto;
    background: rgb(182, 168, 168);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.507);
}

.relogio {
    font-size: 4rem;
    text-align: center;
}

.pausado {
    color: red;
    animation: animate 1s both infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.botoes {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 6rem;
    height: 3rem;
    background-color: var(--primary-color-darker);
    border: transparent;
    border-radius: 18px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.281);
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}

.iniciar {
    background-color: rgb(59, 252, 0);
}


.zerar {
    background-color: red;
}

button:hover {
    transform: scale(1.15);
}

